<!-- examples/views/set.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <title>json</title>
</head>
<body>
<div id="app">
  <input type="text" hi-value="user.name"/>
  <button hi-on:click="changeMe">changeMe</button>
</div>

<script type="text/javascript" src="../../lib/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../../dest/highway.min.js"></script>
<script type="text/javascript" src="../../lib/babel-standalone/babel.min.js"></script>
<script type="text/babel">
const app = new Highway({
  $el: $('#app'),
  $scope: {
    user: {
      name: 'highway'
    }
  },
  changeMe() {
    // equal to this.$scope.$set
    this.$set('user.name', 'xiage');
  }
});
</script>
</body>
</html>
