<!-- examples/views/unwatch.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <title>json</title>
</head>
<body>
<div id="app">
  <input type="text" hi-value="name"/>
  <p>{{name}}</p>
  <p>{{logs}}</p>
  <button hi-on:click="unwatch">unwatch</button>
</div>

<script type="text/javascript" src="../../lib/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../../dest/highway.js"></script>
<script type="text/javascript" src="../../lib/babel-standalone/babel.min.js"></script>
<script type="text/babel">
  const app = new Highway({
    $el: $('#app'),
    $scope: {
      name: 'highway'
    },
    $mount() {
      this.$watch('name', (newVal, oldVal) => {
        this.$set('logs', `value changed, newVal is: ${newVal}, oldVal is: ${oldVal}`);
      });
    },
    unwatch() {
      this.$unwatch('name');
    }
  });
</script>
</body>
</html>
